<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <form action="" class="form-sign-up" id="form-sign-up">
      <h3>Sign Up</h3>
      <label for="" >First Name</label>
      <input type="text" name="firstName" id="sign-up-first-name">
      <label for="" >Last Name</label>
      <input type="text" name="lastName" id="sign-up-last-name">
      <label for="" >Email</label>
      <input type="text" name="email" id="sign-up-email">
      <label for="" >Password</label>
      <input type="password" name="password" id="sign-up-password">
      <label for="" >Confirm Password</label>
      <input type="password" name="confirmPassword" id="sign-up-confirm-password">
      <br>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <a href="./index.html" class="signUp-text">Already have an account ? Sign In</a>

    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="index.js" charset="utf-8"></script>></script> 
  </body>
</html>
